body{
  background-color: green;
}
select{
    background-color: grey;
    border-color: grey;
    block-size: 40px;
    border-style: ridge;
}
input[type=number]{
    background-color: grey;
    border-color: grey;
    block-size: 40px;
    border-style: ridge;
}
.vraag{
    position: relative;
    margin-left: 100px;
}
button{
    background-color: grey;
    border-color: grey;
    margin-left: 100px;
    width: 100px;
    height: 50px;
    font-size: 30px;
}
header{
    margin-left: 100px;
    font-size: 25px;
}
label{
    font-size: 20px;
}