<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokemon quiz</title>
</head>
<body>
  <article>
    <header>Pokemon quiz</header>
    <p>Ik heb een quiz gemaakt om je pokemon kennis te testen. <br>
      Er gaan vragen over de eerste generatie tot de nieuwste generatie zijn, <br>
      als je wilt begin klik dan <a href="http://192.168.76.202:5000/quizes/pokemon">hier</a>.
    </p>
  </article>
</body>
</html>